.x-icon-combo-icon{
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 18px;
    height: 14px;
}
.x-icon-combo-input{
    padding-left: 40px;
}
.x-form-field-wrap .x-icon-combo-icon{
    top: -5px;
    left: 5px;
}
.x-icon-combo-item{
    background-repeat: no-repeat;
    background-position: 3px 50%;
    padding-left: 24px;
}
.x-flag-1001S {
    BACKGROUND-IMAGE: url(../img/equ/1001S.PNG);
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 20px;
    height: 32px;
}
.x-flag-1002S {
    BACKGROUND-IMAGE: url(../img/equ/1002S.PNG);
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 21px;
    height: 32px;
}
.x-flag-1003S {
    BACKGROUND-IMAGE: url(../img/equ/1003S.PNG);
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 24px;
    height: 32px;
}
.x-flag-1004S {
    BACKGROUND-IMAGE: url(../img/equ/1004S.PNG);
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 32px;
    height: 32px;
}
.x-flag-1005S {
    BACKGROUND-IMAGE: url(../img/equ/1005S.PNG);
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 32px;
    height: 28px;
}
.x-flag-1005S {
    BACKGROUND-IMAGE: url(../img/equ/1005S.PNG);
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 32px;
    height: 28px;
}
.x-flag-1006S {
    BACKGROUND-IMAGE: url(../img/equ/1006S.PNG);
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 21px;
    height: 32px;
}
.x-flag-1008S {
    BACKGROUND-IMAGE: url(../img/equ/1008S.PNG);
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 21px;
    height: 32px;
}
.x-flag-1009S {
    BACKGROUND-IMAGE: url(../img/equ/1009S.PNG);
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 24px;
    height: 32px;
}
.x-flag-1011S {
    BACKGROUND-IMAGE: url(../img/equ/1011S.PNG);
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 22px;
    height: 32px;
}
.x-flag-1012S {
    BACKGROUND-IMAGE: url(../img/equ/1012S.PNG);
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 32px;
    height: 32px;
}
.x-flag-1013S {
    BACKGROUND-IMAGE: url(../img/equ/1013S.PNG);
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 32px;
    height: 28px;
}
.x-flag-1014S {
    BACKGROUND-IMAGE: url(../img/equ/1014S.PNG);
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 21px;
    height: 32px;
}
.x-flag-2000S {
    BACKGROUND-IMAGE: url(../img/equ/2000S.PNG);
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 18px;
    height: 32px;
}
.x-flag-2001S {
    BACKGROUND-IMAGE: url(../img/equ/2001S.PNG);
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 23px;
    height: 32px;
}
.x-flag-2002S {
    BACKGROUND-IMAGE: url(../img/equ/2002S.PNG);
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 22px;
    height: 32px;
}
.x-flag-2003S {
    BACKGROUND-IMAGE: url(../img/equ/2003S.PNG);
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 20px;
    height: 32px;
}
.x-flag-2004S {
    BACKGROUND-IMAGE: url(../img/equ/2004S.PNG);
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 23px;
    height: 32px;
}
.x-flag-2005S {
    BACKGROUND-IMAGE: url(../img/equ/2005S.PNG);
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 23px;
    height: 32px;
}
.x-flag-2006S {
    BACKGROUND-IMAGE: url(../img/equ/2006S.PNG);
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 23px;
    height: 32px;
}
.x-flag-3001S {
    BACKGROUND-IMAGE: url(../img/equ/3001S.PNG);
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 32px;
    height: 32px;
}
.x-flag-3002S {
    BACKGROUND-IMAGE: url(../img/equ/3002S.PNG);
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 32px;
    height: 31px;
}
.x-flag-3003S {
    BACKGROUND-IMAGE: url(../img/equ/3003S.PNG);
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 16px;
    height: 32px;
}
.x-flag-3004S {
    BACKGROUND-IMAGE: url(../img/equ/3004S.PNG);
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 15px;
    height: 32px;
}
