.ext-strict .ext-ie6 .x-layout-split {
	BACKGROUND-COLOR: #dfe8f6
}
.add {
	BACKGROUND-IMAGE: url(../img/icon/add.png)! important
}
.delete {
	BACKGROUND-IMAGE: url(../img/icon/delete.gif)! important
}
.remove {
	BACKGROUND-IMAGE: url(../img/icon/delete.gif)! important
}
.removeall {
	BACKGROUND-IMAGE: url(../img/icon/removeall.png)! important
}
.upgrade {
	BACKGROUND-IMAGE: url(../img/icon/upgrade.png)! important
}
.exportfile {
	BACKGROUND-IMAGE: url(../img/icon/exportfile.png)! important
}
.export {
	BACKGROUND-IMAGE: url(../img/icon/export.png)! important
}
.copy {
    BACKGROUND-IMAGE: url(../img/icon/copy.gif)! important
}
.save {
    BACKGROUND-IMAGE: url(../img/icon/save.gif)! important
}
.change {
    BACKGROUND-IMAGE: url(../img/icon/change.gif)! important
}
.query {
    BACKGROUND-IMAGE: url(../img/icon/query.png)! important
}
.send {
    BACKGROUND-IMAGE: url(../img/icon/send.png)! important
}
.help {
	BACKGROUND-IMAGE: url(../img/icon/help.png)! important
}
.refresh {
	BACKGROUND-IMAGE: url(../img/icon/fresh.png)! important
}
.bjgl {
	BACKGROUND-IMAGE: url(../img/icon/bjgl.png)! important
}
.jlsb {
	BACKGROUND-IMAGE: url(../img/icon/jlsb.png)! important
}
.pzgl {
	BACKGROUND-IMAGE: url(../img/icon/pzgl.png)! important
}
.sjgl {
	BACKGROUND-IMAGE: url(../img/icon/sjgl.png)! important
}
.tjbb {
	BACKGROUND-IMAGE: url(../img/icon/tjbb.png)! important
}
.user {
	BACKGROUND-IMAGE: url(../img/icon/user.png)! important
}
.yxjk {
	BACKGROUND-IMAGE: url(../img/icon/yxjk.png)! important
}
.yygl {
	BACKGROUND-IMAGE: url(../img/icon/yygl.gif)! important
}
.ptgl {
	BACKGROUND-IMAGE: url(../img/icon/ptgl.png)! important
}
.xtgl {
	BACKGROUND-IMAGE: url(../img/icon/xtgl.png)! important
}
.sjygl {
	BACKGROUND-IMAGE: url(../img/icon/sjygl.png)! important
}
.wlgl {
	BACKGROUND-IMAGE: url(../img/icon/wlgl.png)! important
}
.shgl {
	BACKGROUND-IMAGE: url(../img/icon/shgl.png)! important
}
.logout {
    BACKGROUND-IMAGE: url(../img/door_out.png)! important
}
.favorite {
    BACKGROUND-IMAGE: url(../img/page_white_office.png)! important
}
